<div class="invi-wrapper">
  <div class="invi-container">
    <div class="invi-top">
      <h1>WEDDING INVITATION</h1>
    </div>
    <div class="invi-top-confirm">
      <h1>入力情報の確認</h1>
    </div>
  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <div class="field">
      <p><label class="form-text">いずれかをお選び下さい</label></br>
      <%= f.text_field :attendance, value: @user.attendance, readonly: true, class:"radio-confirm" %></p>
    </div>
    <div class="field">
      <p><label class="form-text">お名前</label></br>
      <%= f.text_field :name, value: @user.name, readonly: true %></p>
    </div>
    <div class="field">
      <p><label class="form-text">お名前 (カナ)</label></br>
      <%= f.text_field :name_kana, value: @user.name_kana, readonly: true %></p>
    </div>
    <div class="field">
      <p><label class="form-text">いずれかをお選び下さい</label></br>
      <%= f.text_field :bride_groom, value: @user.bride_groom, readonly: true %></p>
    </div>
    <div class="field">
      <p><%= f.label :email %></br>
      <%= f.text_field :email, value: @user.email, readonly: true %></p>
    </div>
    <div class="field">
      <p><label class="form-text">郵便番号</label></br>
      <%= f.text_field :postal_code, value: @user.postal_code, readonly: true %></p>
    </div>
    <div class="field">
      <label class="form-text">ご住所</label></br>
      <%= f.text_field :prefecture_code, value: @user.prefecture_code, readonly: true %>
      <%= f.text_field :city, value: @user.city, readonly: true %>
      <%= f.text_field :address, value: @user.address, readonly: true %>
      <%= f.text_field :building, value: @user.building, readonly: true %></p>
      </p>
    </div>
    <div class="field" id="password">
      <p><%= f.label :password %>
      <%= f.text_field :password, value: @user.password, readonly: true %></p>
    </div>
    <div class="field">
      <p><label class="form-text">アレルギーなどございましたらご記入ください</label></br>
      <%= f.text_area :allergy, value: @user.allergy, readonly: true %></p>
    </div>
    <div class="field">
      <p><label class="form-text">バスのご利用</label></br>
      <%= f.text_area :bus, value: @user.bus, readonly: true %></p>
    </div>

      <%= f.submit "修正する", name: :back %>
      <%= f.submit "登録する" %>

    <% end %>
  </div>
</div>