<h2>入力情報の確認</h2>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>

    <p><%= f.label :attendance %>
    <%= f.text_field :attendance, value: @user.attendance, readonly: true %></p>
    
    <p><%= f.label "お名前" %>
    <%= f.text_field :last_name, value: @user.last_name, readonly: true %>
    <%= f.text_field :first_name, value: @user.first_name, readonly: true %></p>
    
    <p><%= f.label "お名前(カナ)" %>
    <%= f.text_field :last_name_kana, value: @user.last_name_kana, readonly: true %>
    <%= f.text_field :first_name_kana, value: @user.first_name_kana, readonly: true %></p>
    
    <p><%= f.label :bride_groom %>
    <%= f.text_field :bride_groom, value: @user.bride_groom, readonly: true %></p>
    
    <p><%= f.label :email %>
    <%= f.text_field :email, value: @user.email, readonly: true %></p>
    
    <p><%= f.label :postal_code %>
    <%= f.text_field :postal_code, value: @user.postal_code, readonly: true %></p>
    
    <p><%= f.label :prefecture_code %>
    <%= f.text_field :prefecture_code, value: @user.prefecture_code, readonly: true %></p>
    
    <p><%= f.label :city %>
    <%= f.text_field :city, value: @user.city, readonly: true %></p>
    
    <p><%= f.label :address %>
    <%= f.text_field :address, value: @user.address, readonly: true %></p>
    
    <p><%= f.label :building %>
    <%= f.text_field :building, value: @user.building, readonly: true %></p>
    
    <p><%= f.label :password %>
    <%= f.text_field :password, value: @user.password, readonly: true %></p>

    <p><%= f.label :allergy %>
    <%= f.text_field :allergy, value: @user.allergy, readonly: true %></p>
    
    <p><%= f.label :bus %>
    <%= f.text_field :bus, value: @user.bus, readonly: true %></p>
    

    <%= f.submit "修正する", name: :back %>
    <%= f.submit "登録する" %>

  <% end %>