<%# ヘッダーの部分テンプレートへ遷移 %>
<%# <%= render "shared/header" %> 

<div class="invi-wrapper">
  <div class="invi-container">
    <div class="invi-top">
      <h1>WEDDING INVITATION</h1>
    </div>
    <p><span>*</span> は必須項目です</p>
    <%= form_with model: @user, url: users_sign_up_confirm_path(@user), local: true do |f| %>

      <div class="field">
        <label class="form-text">いずれかをお選び下さい<span>*</span></label>
          <%# エラーメッセージを入力項目ごとに表示 %>
          <%= render "shared/error_messages", model: @user, attribute: :attendance %>
          <ul class="radio">
            <li>
              <%= f.radio_button :attendance, "出席" %>
              <%= f.label :attendance, "ご出席", {value: "出席", style: "display: inline-block;"}%>
            </li>
            <li>
              <%= f.radio_button :attendance, "欠席" %>
              <%= f.label :attendance, "ご欠席", {value: "欠席", style: "display: inline-block;"}%>
            </li>
          </ul>
      </div>

      <div class="field">
        <label class="form-text">お名前<span>*</span></label><br>
        <%# エラーメッセージを入力項目ごとに表示 %>
        <%= render "shared/error_messages", model: @user, attribute: :name %>
        <%= f.text_field :name, placeholder: "名前", class: "form-placeholder"%>
      </div>

      <div class="field">
        <label class="form-text">お名前 (カナ)<span>*</span></label><br>
        <%# エラーメッセージを入力項目ごとに表示 %>
        <%= render "shared/error_messages", model: @user, attribute: :name_kana %>
        <%= f.text_field :name_kana, placeholder: "ヤマダ ハナコ", class: "form-placeholder" %>
      </div>

      <div class="field">
        <label class="form-text">いずれかをお選び下さい<span>*</span></label><br>
        <%# エラーメッセージを入力項目ごとに表示 %>
        <%= render "shared/error_messages", model: @user, attribute: :bride_groom %>
          <ul class="radio">
            <li>
              <%# #新郎ゲスト %>
              <%= f.radio_button :bride_groom, "新郎ゲスト" %>
              <%= f.label :bride_groom, "新郎ゲスト", {value: "新郎ゲスト", style: "display: inline-block;"} %>
            </li>
            <li>
              <%# #新婦ゲスト %>
              <%= f.radio_button :bride_groom, "新婦ゲスト" %>
              <%= f.label :bride_groom, "新婦ゲスト", {value: "新婦ゲスト", style: "display: inline-block;"} %>
            </li>
      </div>

      <div class="field">
        <%= f.label :email %><span>*</span><br>
        <%# エラーメッセージを入力項目ごとに表示 %>
        <%= render "shared/error_messages", model: @user, attribute: :email %>
        <%= f.email_field :email, placeholder:"PC・携帯どちらでも可", autofocus: true, autocomplete: "email", class: "form-placeholder" %>
      </div>

      <div class="field">
        <label class="form-text">郵便番号<span>*</span></label><br>
        <%# エラーメッセージを入力項目ごとに表示 %>
        <%= render "shared/error_messages", model: @user, attribute: :postal_code %>
        <%= f.text_field :postal_code, placeholder: "123-4567", class: "form-placeholder" %>

      </div>
      <div class="field">
        <label class="form-text">ご住所<span>*</span></label><br>
        <%= f.text_field :prefecture_code, placeholder: "〇〇県", class: "form-placeholder" %>
        <%= render "shared/error_messages", model: @user, attribute: :prefecture_code %><%# エラーメッセージを入力項目ごとに表示 %>

        <%= f.text_field :city, placeholder: "〇〇市XX区", class: "form-placeholder" %>
        <%= render "shared/error_messages", model: @user, attribute: :city %><%# エラーメッセージを入力項目ごとに表示 %>

        <%= f.text_field :address, placeholder: "XXXX町1-2-3", class: "form-placeholder"%>
        <%= render "shared/error_messages", model: @user, attribute: :address %><%# エラーメッセージを入力項目ごとに表示 %>

        <%= f.text_field :building, placeholder: "〇〇マンション 707", class: "form-placeholder" %>
      </div>

      <div class="field" id="password">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-placeholder" %>
      </div>

      <div class="field" id="password">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-placeholder" %>
      </div>

      <div class="field">
        <label class="form-text">アレルギーなどございましたらご記入ください</label><br>
        <%= f.text_area :allergy, placeholder: "卵、えび、かになど", class: "form-placeholder" %>
      </div>

      <div class="field">
        <label class="form-text">バスのご利用</label><br>
        <%= f.text_area :bus %>
      </div>

      <div class="actions">
        <%= link_to root_path do %>
          <i class="material-icons">arrow_back</i>
        <% end %>
        <%= f.submit "確認する" %>
      </div>
    <% end %>
  </div>
</div>
