※座席表ページ
<%= link_to "席次表管理画面", rails_admin_path %>

<div class="table-container">
  <div class="takasago">
  <%= image_tag "takasago.jpg" %>
  </div>
  
  <ul>
    <li class="table">
    <% @Atable_nameLists.each do |list| %>  
      <%= list %>
    <% end %>
    </li>
    <li class="table">
    <% @Btable_nameLists.each do |list| %>  
      <%= list %>
    <% end %>
    </li>
    <li class="table">
    <% @Ctable_nameLists.each do |list| %>  
      <%= list %>
    <% end %>
    </li>
  </ul>
  
</div>
