<div class="header-title">
  <%= link_to "Wedding Reception" , receptions_path, class:"site-title" %>
  <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to "#{current_user.name} 様", receptions_path, class: "user-name" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
    <% end%>
  </ul>

  <nav id="navi">
    <ul class="nav-menu">
      <li><%= link_to "PROFILE", "#"%></li>
      <li><%= link_to "SEATINGLIST",seatinglists_path %></li>
      <li><%= link_to "MENU", "#"%></li>
      <li><%= link_to "PHOTO",photos_path %></li>
    </ul>
  </nav>

  <div class="toggle-btn">
    <span></span>
    <span></span>
  </div>

  <div id="mask"></div>
</div>