<%= javascript_pack_tag 'owl', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'reception_index', 'data-turbolinks-track': 'reload' %>


<%# ヘッダーの部分テンプレートへ遷移 %>
<%= render "shared/second-header" %>

<div class="reception-wrapper">
  <div class="reception-container">

    <div class="title-img">
      <div class="title">Wedding<br>Reception</div>
      <ul class="reception-date">
        <li>Taro<br>&<br>Hanako</li>
        <li>2026<br>0606<br>Sat.</li>
      </ul>
    </div>

    <div class="message">
      <h2>THANKS</h2>
      <p style="word-break: keep-all;">
      本日はご多用のところお越しくださり
      誠にありがとうございます
      この日を迎えることができますのも
      ひとえに皆様のお力添えのおかげと
      厚く御礼申し上げます
      未熟な二人ですが 手を取り合い
      ともに歩んでいきたいと思います
      今後とも末永いご指導とお付き合いのほど
      何卒よろしくお願いいたします
      本日はお食事を楽しみながら
      ゆっくりとお過ごしいただければ幸いです<br>
      太郎 花子</p>
    </div>
    <div class="owl-carousel scr-photo">
      <%=image_tag "img1.jpg" %>
      <%=image_tag "img2.jpg" %>
      <%=image_tag "img3.jpg" %>
      <%=image_tag "img4.jpg" %>
      <%=image_tag "img5.jpg" %>
      <%=image_tag "img6.jpg" %>
    </div>
    
    <div class="contents">
      <ul>
        <li class="list"><%= link_to "PROFILE",profiles_path, class:"link" %></br></li>
        <li class="list"><%= link_to "SEATING LIST",seatinglists_path, class:"link" %></br> </li>
        <li class="list"><%= link_to "MENU",menus_path, class:"link" %></li>
        <li class="list"><%= link_to "PHOTO",photos_path, class:"link" %></li>
      </ul>
    </div>
  </div>
  <%# フッターーの部分テンプレートへ遷移 %>
  <%= render "shared/footer" %>
</div>


