<%# CSSは写真投稿(new)と併用 app/assets/stylesheets/photos/new.css %>
<%# ヘッダーの部分テンプレートへ遷移 %>
<%= render "shared/second-header" %>

<%= javascript_pack_tag 'preview', 'data-turbolinks-track': 'reload' %>
<div class="photo-wrapper">
  <div class="post-area">
      <%= form_with model: @photo, url: photo_path(@photo.id), local: true do |f| %>
        <div class="click-upload">
          <%# エラーメッセージを入力項目ごとに表示 %>
          <%= render "shared/error_messages", model: @photo, attribute: :image %>
            <label>
              <i class="material-icons">add_a_photo</i>
              <%= f.file_field :image, id:"item-image" %>
            </label>
        </div>
        <div class="edit-image">
          <%= image_tag @photo.image %>
        </div>
        <div id="new-image"></div>

        <%# エラーメッセージを入力項目ごとに表示 %>
        <%= render "shared/error_messages", model: @photo, attribute: :text %>
        <%= f.text_area :text, class:"img-textarea" %><br>
        <%= f.submit "シェア",class:"submit" %>
      <% end %>
  </div>
  <%# フッターーの部分テンプレートへ遷移 %>
  <%= render "shared/footer" %>
</div>

