<%= javascript_pack_tag 'owl', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'photo', 'data-turbolinks-track': 'reload' %>
<div class="photo-wrapper">
  <div class="post-btn">
    <%= link_to "写真を投稿", new_photo_path, data: {"turbolinks" => false} %>
  </div>
  <div class="photo-container">
  
    <div class="owl-carousel owl-theme owl-loaded" id="photos">
      <% @photos.each do |photo| %>
          <div class="photo-img">
            <%= image_tag photo.image.variant(resize: '300x300') %><br>
          </div>
          <%# <div class="photo-text">
            <%= photo.text %>
          <%# </div> %>
      <% end %>
    </div>
  </div>
</div>
